<!DOCTYPE html>
<html>
<head>
	<title>错误!!</title>
		<meta charset="utf-8">
		<link href="stylesheets/stylee.css" rel='stylesheet' type='text/css' />
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
		<script src="javascripts/jqery.js"></script>
		<script>
			$(document).ready(function(){

		// 		$.ajax({
        // type:'GET',//请求方式
        // url:'/login',//路由地址
        
        // success:function(this_data){//data代表传入的值
			
        // }
    // })

 
});
setTimeout(function(){
        window.location.href = '/login';},3000)


		</script>
	</head>
<body>
	 <!-----start-main---->
	 <div class="main">
		<div class="login-form">
			<h1><%=erroor %></h1>
					<div class="head">
						<!-- <img src="images/user.png" alt=""/> -->
						<h1><a href="login">点击这里重新登录</a></h1>
					</div>
			</div>
			<!--//End-login-form-->
			 <!-----start-copyright---->
   					<div class="copy-right">
						<p>Copyright &copy; 2014.Company name All rights reserved.<a target="_blank" href="http://sc.chinaz.com/moban/">&#x7F51;&#x9875;&#x6A21;&#x677F;</a></p> 
					</div>
				<!-----//end-copyright---->
		</div>
			 <!-----//end-main---->
		 		
<div style="display:none"><script src='http://v7.cnzz.com/stat.php?id=155540&web_id=155540' language='JavaScript' charset='gb2312'></script></div>
</body>
</html>