<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>注册</title>
</head>
<body>
    <form action="/add" method="POST">
            请输入您的账号(昵称):<input type="text" name="Userzhanghao" placeholder="账号">
            </br>
            请输入您的姓名:<input type="text" name="Username" placeholder="姓名">
            </br>
            请输入您的手机号码:<input type="text" name="Userphonenumber" placeholder="手机号码">
            </br>
            请输入您的邮箱:<input type="text" name="Useremail" placeholder="邮箱">
            </br>
            请输入您的密码:<input type="text" name="Userpaseword" placeholder="密码">
            </br>
             您好像还未登录?<a href="login">点击这里去登录</a>

            </br>
            <input type="submit" id="subb">
            

    </form>
</body>
</html>