<!DOCTYPE html>
<html>
<head>
	<title>注册页面</title>
		<meta charset="utf-8">
		<link href="stylesheets/stylee.css" rel='stylesheet' type='text/css' />
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
		<script src="javascripts/jqery.js"></script>
		<script>
			$(document).ready(function(){

				$.ajax({
        type:'POST',//请求方式
		data:'',
        url:'/status',//路由地址
        
        success:function(this_data){//data代表传入的值
					
				}
			})
 
});
				
		</script>
	</head>
<body>
	 <!-----start-main---->
	 <div class="main">
		<div class="login-form">
			<h1>注册</h1>
					<div class="head">
						<img src="images/user.png" alt=""/>
					</div>
				<form action="/login" method="POST">
						请输入您的账号:<input type="text" class="text" name="Userzhanghao" placeholder="账号" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = '账号';}" >
						请输入您的姓名:<input type="text" name="Username" placeholder="姓名">
                        请输入您的手机号码:<input type="text" name="Userphonenumber" placeholder="手机号码">
                        请输入您的邮箱:<input type="text" name="Useremail" placeholder="邮箱">
                        请输入您的密码:<input type="password" name="User_paseword" placeholder="密码" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = '密码';}">
						
                        <div class="submit">
							<input type="submit" onclick="myFunction()" value="LOGIN" >
					</div>	
					<p>已有账号了?<a href="login">点击这里去登录>></a></p>
				</form>
			</div>
			<!--//End-login-form-->
			 <!-----start-copyright---->
   					<div class="copy-right">
						<p>Copyright &copy; 2014.Company name All rights reserved.<a target="_blank" href="http://sc.chinaz.com/moban/">&#x7F51;&#x9875;&#x6A21;&#x677F;</a></p> 
					</div>
				<!-----//end-copyright---->
		</div>
			 <!-----//end-main---->
		 		
<div style="display:none"><script src='http://v7.cnzz.com/stat.php?id=155540&web_id=155540' language='JavaScript' charset='gb2312'></script></div>
</body>
</html>