<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>SHOW,一个专属的会员俱乐部</title>
  <!-- <script>
    $(function(){
        $('#dl').click(function(){
          window.location.replace("http://www.baidu.com");
        })
        $('#zc').click(function(){
          window.location.href = "register";
        } )
        $('#grzx').click(function(){
          window.location.href = "grzx";
        }
      )
  
    });
     
  </script> -->
  <script src="javascripts/jqery.js"></script>
  <script>
    			$(document).ready(function(){
      var panduan=   function(){//判断用户登录情况
       
      } 
       })
  </script>

</head>
<body>
  <span>
    <INPUT name="pclog" type="button" value="登录" onClick="location.href='/login'"> | <INPUT name="pclog" type="button" value="注册" onClick="location.href='/register'"> | <INPUT name="pclog" type="button" value="个人中心" onClick="location.href='/grzx'">
  </span>
    <div>
      <p>这里是标题</p>
      <image>这里是展示的图片</image>
      <p>这里是正文</p>
    </div>
</body>
 
</html>
